<div class="jumbotron">
  <h1 class="display-4">Bem vindo!</h1>
  <p class="lead">Neste site poderá visualizar noticias da sua escola e desempenhar suas aulas junto a professores</p>
  <hr class="my-4">
  
</div>


<h2>Postagens Recentes:</h2>

{{#each postagens}}
<div class="card m-4">
    <div class="card-body">
        <h3>{{titulo}}</h3>
        <p>{{descricao}}</p>
        <a href="/postagem/{{slug}}"><button class="btn btn-success">Leia Mais</button></a>
        <hr>
        <small>Categoria: {{categoria.nome}}</small> <br>
        <small>Data de publicação: {{categoria.date}}</small>
    </div>
</div>
{{else}}
    <h5>Não há postagens</h5>
{{/each}}